
.container {
  display: flex;
  flex-direction: row;
  padding: 1 rem;
}
#btn-submit {
    background-color: blue;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
}
#sidebar {
  flex-grow: 1;
  height: calc(100vh - 195px);
  overflow-y: scroll;
}

#main-content {
  flex-grow: 2;
  height: calc(100vh - 195px);
  overflow-y: scroll;
}

.column {
  flex-basis: 35%;
  margin: 0 10px;
}

.results {
  position: relative;
  top: 195px;
  width: 100%;
}
